.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.aboutbg{
    background-image:url(https://i.blogs.es/88e43c/captura-de-pantalla-2021-10-20-a-las-9.39.51/1366_2000.jpg) ;

}
.aboutimg{
    width: 450px;
    height:450px;
    border-radius: 50%;
    
}